@import url("https://fonts.googleapis.com/css?family=Arvo:400,400i|Mali:400,400i,500,500i,600,600i|Merriweather:400,400i,700|Open+Sans:400,400i,600|PT+Sans+Narrow:400,700|Roboto+Condensed:400,400i,700|Source+Sans+Pro:400,400i,600,600i|Ubuntu:400,500,500i&display=swap");
body {

font-family: 'Arvo';

}
a{
	text-decoration: none;
}
div#header {
	width: 100%;
	height: 150px;
	background-color: #9b59b6;
	margin: 0 auto;

}
.logo{
	float: left;
	margin-top: 40px;
	margin-left: 50px;
}
.logo a {
	font-size: 3em;
	color: #DFD420 ;
}
.logo a span {
	font-weight: 1000;
}
div#container {
	width: 100%;
	margin: 0 auto;
}
.sidebar{
	width: 285px;
	height: 100%;
	background-color: #bfbfbf;
	float: right;
}

ul#nav{

}
ul#nav li{
	list-style: sidama;

}
ul#nav li a{
	font-family: 'Ubuntu';
	color: #000; 
	display: block;
	padding: 15px;
	font-size: 1em;
	border-bottom: 1px solid #373521;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
ul#nav li a:hover {
	background-color: #030303;
	color: #fff;
}
ul#nav li a.selected {
   background-color: #030303;
   color: #fff;
   padding-left: 30px;
}

.content{
	font-family: 'Merriweather';
	font-size: 25;
	margin-left: 350px;
	word-spacing: 0.4em;
	width: auto;
	height: 100%;
	background-color: #fff;

}
.content p {
	color: #424242;
	font-size: 20;
}
div#box{
	margin-top: 15px;
}
div#box .box-top {
	color: #ddd;
	text-shadow: 0px 1px #ddd;
	background-color: #67809F;
	padding: 5px;
}
div#box .box-panel {
	font-family: 'Source Sans Pro';
	font-size: 20;
	padding: 15px;
	margin-left: 25px;
	background-color: #;
    
}

a.mobile{
	display: block;
	background-color: #67809f;
	color: #fff;
	text-align: right;
    padding: 10px;
    border-bottom: 1px #fff;
}
a.mobile:active{
	color: #4a4a4a;
}

@media only screen and (min-width: 320px){
	
	.content{
		margin-left: 0px;
			}
}

}